.showCard {
    margin:0 0 50px 10px;
}
.cont {
    position: relative;
    width:210px;
    height: 280px;
    


}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: auto;
    border-bottom: 20px solid #ffd600;
  }
  
.cont img {
    vertical-align: middle;
    width:210px;
    height: 280px;

}
  
.cont h3 {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    text-align: center;
    top: 80%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.9);

    
}

.flex-container {
    display: grid;
    flex-wrap: wrap;
    position: relative;
    grid-template-columns: auto auto auto auto auto;
}
